<form>
  <div class="form-row">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">First Name</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Last Name">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Lastname</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Registration">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Course</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Course">
      </div>
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
  </div>
</form>