
<form >
  <div class="form-row">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Enter Registration</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Enter Registration">
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
  </div>
</form>