<%- include('../../Home/Header'); -%>
<%- include('../../Home/navBar'); -%>


   <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">View Students</h2>
<%- include('searchStudents'); -%>
        
<div class="container" style="padding-top:55px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">STUDENT</th>
      <th scope="col">REGISTRATION</th>
      <th scope="col">COURSE</th>
      <th scope="col">UPDATE</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Annet Lambi Anex</td>
      <td><b>19851005006</b></td>
      <td>BACHELOR IN COMPUTER SCIENCE</td>
      <td> 
<button type="submit" class="btn btn-primary" action="/accountant_edit"> EDIT</button>
      </td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Marwa Onesmo Mushi</td>
      <td>Computer Science</td>
      <td><b>Pending</b></td>
<td> 
<button type="button" class="btn btn-primary" disabled="true"> EDIT</button>
      </td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
       <td>Janeth Also ayro </td>
      <td>Computer Science</td>
      <td><b>Pending</b></td>
<td> 
<button type="button" class="btn btn-primary" disabled="true"> EDIT</button>
      </td>
    </tr>

  </tbody>
</table>
</div>
        
        
          </div>
		</div>


<%- include('../../Home/Footer'); -%>