<%- include('../libraryHome/Header'); -%>

<!------ The edit form------->

<div class="container" style="padding-top:60px;width:50%">
<form method="Post" action="/library_edit_post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Students Name</label>
    <input type="email" disabled="true" class="form-control" id="exampleFormControlInput1" placeholder="Derick Allan">
  </div><br>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Verification Status</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Verified</option>
      <option>Pending</option>
    </select>
  </div><br>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Receit</label><br>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>
  <div class="form-group" style="padding-left:50%">
<button type="submit" class="btn btn-primary"> SAVE</button>
  </div>
</form>
</div>

