
<%- include('Header'); -%>

<!------ Table starts here   ---->

<div class="container" style="padding-top:55px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">VERIFICATION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Accountant</td>
      <td>Verified</td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dean</td>
      <td>Not verified</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Head Of Department</td>
      <td>Not verified</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Library</td>
      <td>Not verified</td>
    </tr>
 <tr>
      <th scope="row">4</th>
      <td><b>OVERALL STATUS</b></td>
      <td>Not verified</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container" style="padding-top:10px"> 
<button type="button" class="btn btn-primary" disabled="true">Get CODE</button>
</div>


<%- include('Footer'); -%>