<%- include('Header'); -%>

<!------------ The search bar-------->
<div class="container" style="width:50%">
<%- include('searchBar'); -%>
</div>

<div class="container" style="padding-top:55px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">STUDENT</th>
      <th scope="col">COURSE</th>
      <th scope="col">STATUS</th>
      <th scope="col">UPDATE</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Annet Lambi Anex</td>
      <td>Civil engineering</td>
      <td><b>Verified</b></td>
      <td> 
<button type="submit" class="btn btn-primary" action="/accountant_edit"> EDIT</button>
      </td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Marwa Onesmo Mushi</td>
      <td>Computer Science</td>
      <td><b>Pending</b></td>
<td> 
<button type="button" class="btn btn-primary" disabled="true"> EDIT</button>
      </td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
       <td>Janeth Also ayro </td>
      <td>Computer Science</td>
      <td><b>Pending</b></td>
<td> 
<button type="button" class="btn btn-primary" disabled="true"> EDIT</button>
      </td>
    </tr>

  </tbody>
</table>
</div>

<%- include('Footer'); -%>